In [1]:
import glob
import pandas as pd
import numpy as np

### Importing Datasets
* We will be importing 5 csv files.
* We will add a "condition" column to each one
* We will concatenate them to have one unique dataset

In [2]:
data_list = glob.glob('../data/*csv')

In [3]:
dataframe_list = []
for d in data_list:
    dataframe_list.append(pd.read_csv(d))

In [4]:
good_condition_01 = dataframe_list[0]

In [5]:
good_condition_01.head()

,Unnamed: 0,prices,address,description
0,0,"2,300,000€","Flat / Apartment in La Dreta de l'Eixample, Ba...",3 bed 351 m² Floor 1 exterior with lift
1,1,"1,750,000€","Flat / Apartment in via Augusta, Sant Gervasi ...",5 bed 298 m² Floor 3 exterior with lift
2,2,"495,000€",Flat / Apartment in El Camp d'En Grassot i Grà...,4 bed 126 m² Floor 5 with lift
3,3,"590,000€","Penthouse in calle d'Entença, Sant Antoni, Bar...",2 bed 90 m² Floor 7 exterior with lift
4,4,"450,000€","Flat / Apartment in avenida Diagonal, La Dreta...",2 bed 130 m² Floor 1 exterior with lift

In [6]:
good_condition_01['condition'] = 'good_condition'

In [7]:
good_condition_01.head(1)

,Unnamed: 0,prices,address,description,condition
0,0,"2,300,000€","Flat / Apartment in La Dreta de l'Eixample, Ba...",3 bed 351 m² Floor 1 exterior with lift,good_condition

---

In [8]:
good_condition_02 = dataframe_list[1]

In [9]:
good_condition_02.head()

,Unnamed: 0,prices,address,description
0,0,"1,950,000€",Flat / Apartment in Sant Pere - Santa Caterina...,4 bed 346 m² exterior
1,1,"2,975,000€","Detached house in Sarrià, Barcelona",5 bed 554 m²
2,2,"690,000€",Flat / Apartment in L'Antiga Esquerra de l'Eix...,4 bed 171 m² Floor 4 with lift
3,3,"1,648,000€","Detached house in calle de Sant Pere Claver, 2...",5 bed 600 m²
4,4,"169,000€","Flat / Apartment in Selva de Mar, Sant Martí d...",3 bed 67 m² Floor 5 exterior with lift

In [10]:
good_condition_02['condition'] = 'good_condition'

In [11]:
good_condition_02.head(1)

,Unnamed: 0,prices,address,description,condition
0,0,"1,950,000€",Flat / Apartment in Sant Pere - Santa Caterina...,4 bed 346 m² exterior,good_condition

---

In [12]:
new_homes = dataframe_list[2]

In [13]:
new_homes.head()

,Unnamed: 0,prices,address,description
0,0,"495,000€","Flat / Apartment in plaza Guinardó, 10, El Gui...",3 bed 115 m² Floor 1 exterior with lift
1,1,"395,000€","Duplex in plaza Guinardó, 10, El Guinardó, Bar...",105 m² Ground floor exterior with lift
2,2,"440,000€","Duplex in plaza Guinardó, 10, El Guinardó, Bar...",2 bed 104 m² Ground floor exterior with lift
3,3,"530,000€","Penthouse in Vallcarca i els Penitents, Barcelona",2 bed 108 m² Floor 3 exterior with lift
4,4,"695,000€","Flat / Apartment in calle tuset, 13, Sant Gerv...",3 bed 90 m² Floor 1 exterior with lift

In [14]:
new_homes['condition'] = 'new'

In [15]:
new_homes.head(1)

,Unnamed: 0,prices,address,description,condition
0,0,"495,000€","Flat / Apartment in plaza Guinardó, 10, El Gui...",3 bed 115 m² Floor 1 exterior with lift,new

---

In [16]:
needs_ref_01 = dataframe_list[3]

In [17]:
needs_ref_01.head()

,Unnamed: 0,prices,address,description
0,0,"460,000€","Flat / Apartment in calle de Viladomat, La Nov...",4 bed 92 m² Floor 3 exterior with lift
1,1,"999,000€","Flat / Apartment in Sant Gervasi - Galvany, Ba...",5 bed 250 m² exterior with lift
2,2,"299,000€","Terraced house in La Font d'En Fargues, Barcelona",6 bed 174 m²
3,3,"1,100,000€","Flat / Apartment in La Dreta de l'Eixample, Ba...",4 bed 239 m² exterior with lift
4,4,"725,000€","Flat / Apartment in calle de Roger de Llúria, ...",5 bed 183 m² Floor 3 exterior with lift

In [18]:
needs_ref_01['condition'] = 'needs_refurb'

In [19]:
needs_ref_01.head(1)

,Unnamed: 0,prices,address,description,condition
0,0,"460,000€","Flat / Apartment in calle de Viladomat, La Nov...",4 bed 92 m² Floor 3 exterior with lift,needs_refurb

---

In [20]:
needs_ref_02 = dataframe_list[4]

In [21]:
needs_ref_02.head()

,Unnamed: 0,prices,address,description
0,0,"718,500€","Flat / Apartment in calle de González Tablas, ...",3 bed 148 m² Floor 1 exterior with lift
1,1,"330,000€","Flat / Apartment in calle de Sardenya, El Camp...",4 bed 132 m² Ground floor exterior with lift
2,2,"597,500€",Flat / Apartment in L'Antiga Esquerra de l'Eix...,2 bed 141 m² Floor 5 exterior with lift
3,3,"300,000€","Flat / Apartment in El Poblenou, Barcelona",3 bed 69 m² Floor 2 exterior with lift
4,4,"950,000€","Penthouse in La Dreta de l'Eixample, Barcelona",5 bed 180 m² exterior with lift

In [22]:
needs_ref_02['condition'] = 'needs_refurb'

In [23]:
needs_ref_02.head(1)

,Unnamed: 0,prices,address,description,condition
0,0,"718,500€","Flat / Apartment in calle de González Tablas, ...",3 bed 148 m² Floor 1 exterior with lift,needs_refurb

### Concatenating Datasets
* Our final dataset will be "bcn_housing"

In [24]:
df = pd.concat([good_condition_01,good_condition_02,new_homes,needs_ref_01,needs_ref_02])

In [25]:
df = df.drop('Unnamed: 0', axis=1)

In [26]:
df.reset_index(drop=True)

,prices,address,description,condition
0,"2,300,000€","Flat / Apartment in La Dreta de l'Eixample, Ba...",3 bed 351 m² Floor 1 exterior with lift,good_condition
1,"1,750,000€","Flat / Apartment in via Augusta, Sant Gervasi ...",5 bed 298 m² Floor 3 exterior with lift,good_condition
2,"495,000€",Flat / Apartment in El Camp d'En Grassot i Grà...,4 bed 126 m² Floor 5 with lift,good_condition
3,"590,000€","Penthouse in calle d'Entença, Sant Antoni, Bar...",2 bed 90 m² Floor 7 exterior with lift,good_condition
4,"450,000€","Flat / Apartment in avenida Diagonal, La Dreta...",2 bed 130 m² Floor 1 exterior with lift,good_condition
...,...,...,...,...
4455,"545,000€","Flat / Apartment in Gran Via de Carles III, La...",4 bed 127 m² Floor 4 exterior with lift,needs_refurb
4456,"429,000€","Studio flat in calle del Bisbe Caçador, El Gòt...",123 m² Floor 2 exterior without lift,needs_refurb
4457,"170,000€","Flat / Apartment in calle de Sardenya, El Parc...",3 bed 64 m² Ground floor exterior without lift,needs_refurb
4458,"178,800€","Flat / Apartment in calle de Sant Pau, El Rava...",4 bed 70 m² Floor 1 exterior without lift,needs_refurb
4459,"315,000€","Flat / Apartment in travesía de Dalt, La Salut...",4 bed 89 m² Floor 8 exterior with lift,needs_refurb

### Cleaning Data
* Extracting Information from Address and Description
* We need to create new columns with the new features

### Rooms

In [27]:
df['rooms'] = df['description'].str.extract(r'(\d+)\sbed')

In [28]:
df.head()

,prices,address,description,condition,rooms
0,"2,300,000€","Flat / Apartment in La Dreta de l'Eixample, Ba...",3 bed 351 m² Floor 1 exterior with lift,good_condition,3
1,"1,750,000€","Flat / Apartment in via Augusta, Sant Gervasi ...",5 bed 298 m² Floor 3 exterior with lift,good_condition,5
2,"495,000€",Flat / Apartment in El Camp d'En Grassot i Grà...,4 bed 126 m² Floor 5 with lift,good_condition,4
3,"590,000€","Penthouse in calle d'Entença, Sant Antoni, Bar...",2 bed 90 m² Floor 7 exterior with lift,good_condition,2
4,"450,000€","Flat / Apartment in avenida Diagonal, La Dreta...",2 bed 130 m² Floor 1 exterior with lift,good_condition,2

### Area

In [29]:
df['area_m2'] = df['description'].str.extract(r'(\d+)\sm²')

In [30]:
df.head()

,prices,address,description,condition,rooms,area_m2
0,"2,300,000€","Flat / Apartment in La Dreta de l'Eixample, Ba...",3 bed 351 m² Floor 1 exterior with lift,good_condition,3,351
1,"1,750,000€","Flat / Apartment in via Augusta, Sant Gervasi ...",5 bed 298 m² Floor 3 exterior with lift,good_condition,5,298
2,"495,000€",Flat / Apartment in El Camp d'En Grassot i Grà...,4 bed 126 m² Floor 5 with lift,good_condition,4,126
3,"590,000€","Penthouse in calle d'Entença, Sant Antoni, Bar...",2 bed 90 m² Floor 7 exterior with lift,good_condition,2,90
4,"450,000€","Flat / Apartment in avenida Diagonal, La Dreta...",2 bed 130 m² Floor 1 exterior with lift,good_condition,2,130

### Floor

In [31]:
df['description'] = df['description'].str.lower()

In [32]:
df.head()

,prices,address,description,condition,rooms,area_m2
0,"2,300,000€","Flat / Apartment in La Dreta de l'Eixample, Ba...",3 bed 351 m² floor 1 exterior with lift,good_condition,3,351
1,"1,750,000€","Flat / Apartment in via Augusta, Sant Gervasi ...",5 bed 298 m² floor 3 exterior with lift,good_condition,5,298
2,"495,000€",Flat / Apartment in El Camp d'En Grassot i Grà...,4 bed 126 m² floor 5 with lift,good_condition,4,126
3,"590,000€","Penthouse in calle d'Entença, Sant Antoni, Bar...",2 bed 90 m² floor 7 exterior with lift,good_condition,2,90
4,"450,000€","Flat / Apartment in avenida Diagonal, La Dreta...",2 bed 130 m² floor 1 exterior with lift,good_condition,2,130

In [33]:
df['floor'] = df['description'].str.extract(r'(\sfloor\s\d+)')

In [34]:
df['ground_floor'] = df['description'].str.extract(r'(ground floor)')

In [35]:
df['mezzanine'] = df['description'].str.extract(r'(mezzanine)')

In [36]:
df

,prices,address,description,condition,rooms,area_m2,floor,ground_floor,mezzanine
0,"2,300,000€","Flat / Apartment in La Dreta de l'Eixample, Ba...",3 bed 351 m² floor 1 exterior with lift,good_condition,3,351,floor 1,NaN,NaN
1,"1,750,000€","Flat / Apartment in via Augusta, Sant Gervasi ...",5 bed 298 m² floor 3 exterior with lift,good_condition,5,298,floor 3,NaN,NaN
2,"495,000€",Flat / Apartment in El Camp d'En Grassot i Grà...,4 bed 126 m² floor 5 with lift,good_condition,4,126,floor 5,NaN,NaN
3,"590,000€","Penthouse in calle d'Entença, Sant Antoni, Bar...",2 bed 90 m² floor 7 exterior with lift,good_condition,2,90,floor 7,NaN,NaN
4,"450,000€","Flat / Apartment in avenida Diagonal, La Dreta...",2 bed 130 m² floor 1 exterior with lift,good_condition,2,130,floor 1,NaN,NaN
...,...,...,...,...,...,...,...,...,...
895,"545,000€","Flat / Apartment in Gran Via de Carles III, La...",4 bed 127 m² floor 4 exterior with lift,needs_refurb,4,127,floor 4,NaN,NaN
896,"429,000€","Studio flat in calle del Bisbe Caçador, El Gòt...",123 m² floor 2 exterior without lift,needs_refurb,NaN,123,floor 2,NaN,NaN
897,"170,000€","Flat / Apartment in calle de Sardenya, El Parc...",3 bed 64 m² ground floor exterior without lift,needs_refurb,3,64,NaN,ground floor,NaN
898,"178,800€","Flat / Apartment in calle de Sant Pau, El Rava...",4 bed 70 m² floor 1 exterior without lift,needs_refurb,4,70,floor 1,NaN,NaN
899,"315,000€","Flat / Apartment in travesía de Dalt, La Salut...",4 bed 89 m² floor 8 exterior with lift,needs_refurb,4,89,floor 8,NaN,NaN

### Filling NaN in rooms column

In [37]:
df['floor'] = df['floor'].fillna(df['ground_floor'])

In [38]:
df['floor'] = df['floor'].fillna(df['mezzanine'])

In [39]:
df = df.drop(['ground_floor','mezzanine'],axis=1)

In [40]:
df

,prices,address,description,condition,rooms,area_m2,floor
0,"2,300,000€","Flat / Apartment in La Dreta de l'Eixample, Ba...",3 bed 351 m² floor 1 exterior with lift,good_condition,3,351,floor 1
1,"1,750,000€","Flat / Apartment in via Augusta, Sant Gervasi ...",5 bed 298 m² floor 3 exterior with lift,good_condition,5,298,floor 3
2,"495,000€",Flat / Apartment in El Camp d'En Grassot i Grà...,4 bed 126 m² floor 5 with lift,good_condition,4,126,floor 5
3,"590,000€","Penthouse in calle d'Entença, Sant Antoni, Bar...",2 bed 90 m² floor 7 exterior with lift,good_condition,2,90,floor 7
4,"450,000€","Flat / Apartment in avenida Diagonal, La Dreta...",2 bed 130 m² floor 1 exterior with lift,good_condition,2,130,floor 1
...,...,...,...,...,...,...,...
895,"545,000€","Flat / Apartment in Gran Via de Carles III, La...",4 bed 127 m² floor 4 exterior with lift,needs_refurb,4,127,floor 4
896,"429,000€","Studio flat in calle del Bisbe Caçador, El Gòt...",123 m² floor 2 exterior without lift,needs_refurb,NaN,123,floor 2
897,"170,000€","Flat / Apartment in calle de Sardenya, El Parc...",3 bed 64 m² ground floor exterior without lift,needs_refurb,3,64,ground floor
898,"178,800€","Flat / Apartment in calle de Sant Pau, El Rava...",4 bed 70 m² floor 1 exterior without lift,needs_refurb,4,70,floor 1
899,"315,000€","Flat / Apartment in travesía de Dalt, La Salut...",4 bed 89 m² floor 8 exterior with lift,needs_refurb,4,89,floor 8

### Views

In [41]:
df['views'] = df['description'].str.extract(r'(exterior)')

In [42]:
df.head(5)

,prices,address,description,condition,rooms,area_m2,floor,views
0,"2,300,000€","Flat / Apartment in La Dreta de l'Eixample, Ba...",3 bed 351 m² floor 1 exterior with lift,good_condition,3,351,floor 1,exterior
1,"1,750,000€","Flat / Apartment in via Augusta, Sant Gervasi ...",5 bed 298 m² floor 3 exterior with lift,good_condition,5,298,floor 3,exterior
2,"495,000€",Flat / Apartment in El Camp d'En Grassot i Grà...,4 bed 126 m² floor 5 with lift,good_condition,4,126,floor 5,NaN
3,"590,000€","Penthouse in calle d'Entença, Sant Antoni, Bar...",2 bed 90 m² floor 7 exterior with lift,good_condition,2,90,floor 7,exterior
4,"450,000€","Flat / Apartment in avenida Diagonal, La Dreta...",2 bed 130 m² floor 1 exterior with lift,good_condition,2,130,floor 1,exterior

In [43]:
df['views_int'] = df['description'].str.extract(r'(interior)')

In [44]:
df['views'] = df['views'].fillna(df['views_int'])

In [45]:
df = df.drop('views_int', axis=1)

In [46]:
df

,prices,address,description,condition,rooms,area_m2,floor,views
0,"2,300,000€","Flat / Apartment in La Dreta de l'Eixample, Ba...",3 bed 351 m² floor 1 exterior with lift,good_condition,3,351,floor 1,exterior
1,"1,750,000€","Flat / Apartment in via Augusta, Sant Gervasi ...",5 bed 298 m² floor 3 exterior with lift,good_condition,5,298,floor 3,exterior
2,"495,000€",Flat / Apartment in El Camp d'En Grassot i Grà...,4 bed 126 m² floor 5 with lift,good_condition,4,126,floor 5,NaN
3,"590,000€","Penthouse in calle d'Entença, Sant Antoni, Bar...",2 bed 90 m² floor 7 exterior with lift,good_condition,2,90,floor 7,exterior
4,"450,000€","Flat / Apartment in avenida Diagonal, La Dreta...",2 bed 130 m² floor 1 exterior with lift,good_condition,2,130,floor 1,exterior
...,...,...,...,...,...,...,...,...
895,"545,000€","Flat / Apartment in Gran Via de Carles III, La...",4 bed 127 m² floor 4 exterior with lift,needs_refurb,4,127,floor 4,exterior
896,"429,000€","Studio flat in calle del Bisbe Caçador, El Gòt...",123 m² floor 2 exterior without lift,needs_refurb,NaN,123,floor 2,exterior
897,"170,000€","Flat / Apartment in calle de Sardenya, El Parc...",3 bed 64 m² ground floor exterior without lift,needs_refurb,3,64,ground floor,exterior
898,"178,800€","Flat / Apartment in calle de Sant Pau, El Rava...",4 bed 70 m² floor 1 exterior without lift,needs_refurb,4,70,floor 1,exterior
899,"315,000€","Flat / Apartment in travesía de Dalt, La Salut...",4 bed 89 m² floor 8 exterior with lift,needs_refurb,4,89,floor 8,exterior

### Lift

In [47]:
df['lift'] = df['description'].str.extract(r'(with\slift)')

In [48]:
df['no_lift'] = df['description'].str.extract(r'(without\slift)')

In [49]:
df['lift'] = df['lift'].fillna(df['no_lift'])

In [50]:
df = df.drop('no_lift', axis=1)

In [51]:
df.head()

,prices,address,description,condition,rooms,area_m2,floor,views,lift
0,"2,300,000€","Flat / Apartment in La Dreta de l'Eixample, Ba...",3 bed 351 m² floor 1 exterior with lift,good_condition,3,351,floor 1,exterior,with lift
1,"1,750,000€","Flat / Apartment in via Augusta, Sant Gervasi ...",5 bed 298 m² floor 3 exterior with lift,good_condition,5,298,floor 3,exterior,with lift
2,"495,000€",Flat / Apartment in El Camp d'En Grassot i Grà...,4 bed 126 m² floor 5 with lift,good_condition,4,126,floor 5,NaN,with lift
3,"590,000€","Penthouse in calle d'Entença, Sant Antoni, Bar...",2 bed 90 m² floor 7 exterior with lift,good_condition,2,90,floor 7,exterior,with lift
4,"450,000€","Flat / Apartment in avenida Diagonal, La Dreta...",2 bed 130 m² floor 1 exterior with lift,good_condition,2,130,floor 1,exterior,with lift

### Flat Type

In [52]:
df.head()

,prices,address,description,condition,rooms,area_m2,floor,views,lift
0,"2,300,000€","Flat / Apartment in La Dreta de l'Eixample, Ba...",3 bed 351 m² floor 1 exterior with lift,good_condition,3,351,floor 1,exterior,with lift
1,"1,750,000€","Flat / Apartment in via Augusta, Sant Gervasi ...",5 bed 298 m² floor 3 exterior with lift,good_condition,5,298,floor 3,exterior,with lift
2,"495,000€",Flat / Apartment in El Camp d'En Grassot i Grà...,4 bed 126 m² floor 5 with lift,good_condition,4,126,floor 5,NaN,with lift
3,"590,000€","Penthouse in calle d'Entença, Sant Antoni, Bar...",2 bed 90 m² floor 7 exterior with lift,good_condition,2,90,floor 7,exterior,with lift
4,"450,000€","Flat / Apartment in avenida Diagonal, La Dreta...",2 bed 130 m² floor 1 exterior with lift,good_condition,2,130,floor 1,exterior,with lift

In [53]:
df['type'] = df['address'].str.split().str[0]

In [54]:
df

,prices,address,description,condition,rooms,area_m2,floor,views,lift,type
0,"2,300,000€","Flat / Apartment in La Dreta de l'Eixample, Ba...",3 bed 351 m² floor 1 exterior with lift,good_condition,3,351,floor 1,exterior,with lift,Flat
1,"1,750,000€","Flat / Apartment in via Augusta, Sant Gervasi ...",5 bed 298 m² floor 3 exterior with lift,good_condition,5,298,floor 3,exterior,with lift,Flat
2,"495,000€",Flat / Apartment in El Camp d'En Grassot i Grà...,4 bed 126 m² floor 5 with lift,good_condition,4,126,floor 5,NaN,with lift,Flat
3,"590,000€","Penthouse in calle d'Entença, Sant Antoni, Bar...",2 bed 90 m² floor 7 exterior with lift,good_condition,2,90,floor 7,exterior,with lift,Penthouse
4,"450,000€","Flat / Apartment in avenida Diagonal, La Dreta...",2 bed 130 m² floor 1 exterior with lift,good_condition,2,130,floor 1,exterior,with lift,Flat
...,...,...,...,...,...,...,...,...,...,...
895,"545,000€","Flat / Apartment in Gran Via de Carles III, La...",4 bed 127 m² floor 4 exterior with lift,needs_refurb,4,127,floor 4,exterior,with lift,Flat
896,"429,000€","Studio flat in calle del Bisbe Caçador, El Gòt...",123 m² floor 2 exterior without lift,needs_refurb,NaN,123,floor 2,exterior,without lift,Studio
897,"170,000€","Flat / Apartment in calle de Sardenya, El Parc...",3 bed 64 m² ground floor exterior without lift,needs_refurb,3,64,ground floor,exterior,without lift,Flat
898,"178,800€","Flat / Apartment in calle de Sant Pau, El Rava...",4 bed 70 m² floor 1 exterior without lift,needs_refurb,4,70,floor 1,exterior,without lift,Flat
899,"315,000€","Flat / Apartment in travesía de Dalt, La Salut...",4 bed 89 m² floor 8 exterior with lift,needs_refurb,4,89,floor 8,exterior,with lift,Flat

In [55]:
df['city'] = df['address'].str.split().str[-1]

In [56]:
df.head()

,prices,address,description,condition,rooms,area_m2,floor,views,lift,type,city
0,"2,300,000€","Flat / Apartment in La Dreta de l'Eixample, Ba...",3 bed 351 m² floor 1 exterior with lift,good_condition,3,351,floor 1,exterior,with lift,Flat,Barcelona
1,"1,750,000€","Flat / Apartment in via Augusta, Sant Gervasi ...",5 bed 298 m² floor 3 exterior with lift,good_condition,5,298,floor 3,exterior,with lift,Flat,Barcelona
2,"495,000€",Flat / Apartment in El Camp d'En Grassot i Grà...,4 bed 126 m² floor 5 with lift,good_condition,4,126,floor 5,NaN,with lift,Flat,Barcelona
3,"590,000€","Penthouse in calle d'Entença, Sant Antoni, Bar...",2 bed 90 m² floor 7 exterior with lift,good_condition,2,90,floor 7,exterior,with lift,Penthouse,Barcelona
4,"450,000€","Flat / Apartment in avenida Diagonal, La Dreta...",2 bed 130 m² floor 1 exterior with lift,good_condition,2,130,floor 1,exterior,with lift,Flat,Barcelona

In [57]:
df['neighborhood'] = df['address'].str.split('in').str[1].str.split(', Barcelona').str[0].str.split(', ').str[-1]

In [58]:
df = df.drop(['address','description'], axis=1)

In [59]:
df

,prices,condition,rooms,area_m2,floor,views,lift,type,city,neighborhood
0,"2,300,000€",good_condition,3,351,floor 1,exterior,with lift,Flat,Barcelona,La Dreta de l'Eixample
1,"1,750,000€",good_condition,5,298,floor 3,exterior,with lift,Flat,Barcelona,Sant Gervasi - Galvany
2,"495,000€",good_condition,4,126,floor 5,NaN,with lift,Flat,Barcelona,El Camp d'En Grassot i Gràcia Nova
3,"590,000€",good_condition,2,90,floor 7,exterior,with lift,Penthouse,Barcelona,Sant Antoni
4,"450,000€",good_condition,2,130,floor 1,exterior,with lift,Flat,Barcelona,La Dreta de l'Eixample
...,...,...,...,...,...,...,...,...,...,...
895,"545,000€",needs_refurb,4,127,floor 4,exterior,with lift,Flat,Barcelona,La Maternitat i Sant Ramon
896,"429,000€",needs_refurb,NaN,123,floor 2,exterior,without lift,Studio,Barcelona,El Gòtic
897,"170,000€",needs_refurb,3,64,ground floor,exterior,without lift,Flat,Barcelona,El Parc i la Llacuna del Poblenou
898,"178,800€",needs_refurb,4,70,floor 1,exterior,without lift,Flat,Barcelona,El Raval
899,"315,000€",needs_refurb,4,89,floor 8,exterior,with lift,Flat,Barcelona,La Salut

### Checking Duplicates & Droping Duplicates

In [60]:
df.duplicated().sum()

195

In [61]:
df = df.drop_duplicates()

In [62]:
len(df)

4265

### Dtypes

In [63]:
df.dtypes

prices          object
condition       object
rooms           object
area_m2         object
floor           object
views           object
lift            object
type            object
city            object
neighborhood    object
dtype: object

In [64]:
df['prices'] = df['prices'].str.replace(r'€','')
df['prices'] = df['prices'].str.replace(r',','')
df['prices'] = pd.to_numeric(df['prices'])

C:\Users\Jorge\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Jorge\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Jorge\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [65]:
df['area_m2'] = pd.to_numeric(df['area_m2'])

C:\Users\Jorge\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [66]:
df.dtypes

prices           int64
condition       object
rooms           object
area_m2          int64
floor           object
views           object
lift            object
type            object
city            object
neighborhood    object
dtype: object

In [67]:
df.head(1)

,prices,condition,rooms,area_m2,floor,views,lift,type,city,neighborhood
0,2300000,good_condition,3,351,floor 1,exterior,with lift,Flat,Barcelona,La Dreta de l'Eixample

#### We assume studios has no rooms

In [68]:
df[(df['type'] == 'Studio') & (df['area_m2'] < 60)]['rooms'].fillna('0')

137    0
167    0
483    0
253    0
479    0
93     0
638    0
714    0
58     0
461    0
466    0
661    0
669    0
670    0
696    0
700    0
833    0
Name: rooms, dtype: object

In [69]:
len(df)

4265

### Filtering NaN is Rooms Column

In [70]:
df = df[df['rooms'].notna()]

In [71]:
len(df)

4214

### Converting Rooms Column to Numeric

In [72]:
df['rooms'] = pd.to_numeric(df['rooms'])

In [73]:
df.dtypes

prices           int64
condition       object
rooms            int64
area_m2          int64
floor           object
views           object
lift            object
type            object
city            object
neighborhood    object
dtype: object

### Checking NaN Values

In [74]:
df.isna().sum()

prices            0
condition         0
rooms             0
area_m2           0
floor           688
views           654
lift            216
type              0
city              0
neighborhood      0
dtype: int64

### Imputing NaN Values

#### Views

In [75]:
df.loc[(df['views'].isna()) & (df['type'] != 'Flat'),'views'] = 'exterior'

In [76]:
df.isna().sum()

prices            0
condition         0
rooms             0
area_m2           0
floor           688
views           470
lift            216
type              0
city              0
neighborhood      0
dtype: int64

#### Floor

In [77]:
df['type'].unique()

array(['Flat', 'Penthouse', 'Terraced', 'Duplex', 'Detached', 'House',
       'Semi-detached', 'Rustic'], dtype=object)

In [78]:
flat = ['Flat','Penthouse','Duplex']

In [79]:
df.loc[(df['floor'].isna()) & (~df['type'].isin(flat)),'floor'] = 'Multiple'

In [80]:
df.isna().sum()

prices            0
condition         0
rooms             0
area_m2           0
floor           539
views           470
lift            216
type              0
city              0
neighborhood      0
dtype: int64

#### Lift

In [81]:
df.loc[df['lift'].isna() & (~df['type'].isin(flat)),'lift'] = 'without lift'

In [82]:
df.isna().sum()

prices            0
condition         0
rooms             0
area_m2           0
floor           539
views           470
lift             67
type              0
city              0
neighborhood      0
dtype: int64

In [83]:
df = df.dropna()

In [84]:
df.isna().sum()

prices          0
condition       0
rooms           0
area_m2         0
floor           0
views           0
lift            0
type            0
city            0
neighborhood    0
dtype: int64

In [85]:
len(df)

3388

In [86]:
df

,prices,condition,rooms,area_m2,floor,views,lift,type,city,neighborhood
0,2300000,good_condition,3,351,floor 1,exterior,with lift,Flat,Barcelona,La Dreta de l'Eixample
1,1750000,good_condition,5,298,floor 3,exterior,with lift,Flat,Barcelona,Sant Gervasi - Galvany
3,590000,good_condition,2,90,floor 7,exterior,with lift,Penthouse,Barcelona,Sant Antoni
4,450000,good_condition,2,130,floor 1,exterior,with lift,Flat,Barcelona,La Dreta de l'Eixample
8,430000,good_condition,3,110,Multiple,exterior,without lift,Terraced,Barcelona,Can Baró
...,...,...,...,...,...,...,...,...,...,...
893,295000,needs_refurb,1,64,floor 1,exterior,with lift,Flat,Barcelona,Vila de Gràcia
894,420000,needs_refurb,3,99,floor 2,exterior,without lift,Flat,Barcelona,Sant Pere - Santa Cater
895,545000,needs_refurb,4,127,floor 4,exterior,with lift,Flat,Barcelona,La Maternitat i Sant Ramon
897,170000,needs_refurb,3,64,ground floor,exterior,without lift,Flat,Barcelona,El Parc i la Llacuna del Poblenou
898,178800,needs_refurb,4,70,floor 1,exterior,without lift,Flat,Barcelona,El Raval

### Renaming Column Values

In [90]:
df['lift'] = df['lift'].str.replace(r'with lift', 'Yes').replace(r'without lift', 'No')

In [94]:
df = df[['city','neighborhood','condition','type','rooms','area_m2','lift','views','floor','prices']]

In [98]:
df = df.reset_index(drop=True)

In [100]:
df['condition'].unique()

array(['good_condition', 'new', 'needs_refurb'], dtype=object)

In [102]:
df['condition'] = df['condition'].str.replace(r'good_condition','good condition').replace(r'needs_refurb','needs refurb')

In [103]:
df

,city,neighborhood,condition,type,rooms,area_m2,lift,views,floor,prices
0,Barcelona,La Dreta de l'Eixample,good condition,Flat,3,351,Yes,exterior,floor 1,2300000
1,Barcelona,Sant Gervasi - Galvany,good condition,Flat,5,298,Yes,exterior,floor 3,1750000
2,Barcelona,Sant Antoni,good condition,Penthouse,2,90,Yes,exterior,floor 7,590000
3,Barcelona,La Dreta de l'Eixample,good condition,Flat,2,130,Yes,exterior,floor 1,450000
4,Barcelona,Can Baró,good condition,Terraced,3,110,No,exterior,Multiple,430000
...,...,...,...,...,...,...,...,...,...,...
3383,Barcelona,Vila de Gràcia,needs refurb,Flat,1,64,Yes,exterior,floor 1,295000
3384,Barcelona,Sant Pere - Santa Cater,needs refurb,Flat,3,99,No,exterior,floor 2,420000
3385,Barcelona,La Maternitat i Sant Ramon,needs refurb,Flat,4,127,Yes,exterior,floor 4,545000
3386,Barcelona,El Parc i la Llacuna del Poblenou,needs refurb,Flat,3,64,No,exterior,ground floor,170000
3387,Barcelona,El Raval,needs refurb,Flat,4,70,No,exterior,floor 1,178800

### Exporting Dataset

In [104]:
df.to_csv('../data/df_idealista.csv')